/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@347&family=Luckiest+Guy&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: #e5dbe9;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}


/* Sección izquierda: Logo */
.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.header-logo {
    width: 150px;
    height: auto;
}


/* Navbar */
.nav-container {
    display: flex;
    align-items: center;
}


.nav-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


.nav-container li {
    margin-left: 15px;
}


.nav-button {
    background: none;
    border: none;
    padding: 0;
    margin: 20px;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    color: black;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}


.nav-button:hover {
    color: #888;
}


/* Estilo del botón con imagen */
.basket-button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 15px;
}


.basket-icon {
    height: 40px;
    width: auto;
}


/* Estilos para el botón hamburguesa */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}


.hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s;
}


.hamburger::before {
    transform: translateY(-8px);
}


.hamburger::after {
    transform: translateY(8px);
}


/* Animación para el botón hamburguesa activo */
.nav-toggle.active .hamburger {
    background-color: transparent;
}


.nav-toggle.active .hamburger::before {
    transform: rotate(45deg);
}


.nav-toggle.active .hamburger::after {
    transform: rotate(-45deg);
}



/* JOB OFFERS ***************************************** */

main {
    margin-top: 5%;
    font-size: 1em;
}

.job-tabs {
    text-align: center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;    
    border-bottom: 2px solid #ccc; 
    width: 70%;
    /* alinea desde la clase padre en el centro */
    margin: 0 auto 1rem auto; 
}


.title{
    text-align: center;
    font-size: 3.5em;
    color: #4b004b;
    font-family: "Playfair",sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;

}
.tab-btn {
    background: none;
    border: none;
    color: #d4cad4;
    cursor: pointer;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    font-size: 2em;
    width: 50%;
}

.tab-btn.active {
    border-color: #4b004b;
    color: #4b004b;
}

.tab-content {
    display: none;
    padding: 1rem;
    margin-bottom: 2%;

}

.tab-content.active {
    display: block;
}

.content{
    font-size: 1.5em;
    color: #4b004b;
    line-height: 1em;
    width: 70%;
    margin: 0 auto 1rem auto; 
}

.job-button {
    display: inline-block;
    background-color: #4b004b;
    color: #ffffff;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1rem;
    margin-top: 2rem;
    transition: transform 0.2s ease-in-out;
}

.job-button:hover {
    transform: scale(1.05);
}

.tablet{
    display: flex;
    width: 100%;
    height: 60vh;
    background: rgba(43,12,78,0.5);
    align-items: center;
}

.tablet-text{
    
    color:white ;
    width: 100%;
    
}

.tablet-text p{
    width: 80%;
    margin: 0 auto 1rem auto; 
    line-height: 2em;
    font-size: 2vh;
}

.tablet-image{
    
    width: 40%;
    max-height: 60vh;
}

@media (max-width: 768px) {

    .nav-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }


    .nav-container ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        z-index: 999;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }


    .nav-container ul.active {
        right: 0;
    }


    .nav-container li {
        margin: 15px 0;
    }


    .basket-button {
        margin: 15px 0;
    }


    /* Fondo oscuro cuando el menú está abierto */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }


    .overlay.active {
        display: block;
    }

    main {
        margin-top: 17%;
        font-size: 0.7em;
    }

    .tablet-text p{
        
        font-size: 1.4vh;
    }

}


@media (max-width: 390px) {
    
    

    main {
        margin-top: 17%;
        font-size: 0.5em;
    }
   
    
    .tablet-text p{
        
        font-size: 1.2vh;
    }
    
}